<div class="">
  <button (click)="getTestReports()">Show Test Reports</button>

  <table class="table">
    <tr>
      <th>Seller Type</th>
      <th>Average in Euro</th>
    </tr>
    <tr *ngFor="let item of Object.keys(avgListening)">
      <td>{{item}}</td>
      <td>€ {{avgListening[item]}},-</td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <th>Make</th>
      <th>Distribution</th>
    </tr>
    <tr *ngFor="let item of Object.keys(makeDistribution)">
      <td>{{item}}</td>
      <td>{{makeDistribution[item]*100}} %</td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <th>Average price</th>
    </tr>
    <tr>
      <td>€ {{mostContacted}},-</td>
    </tr>
  </table>

  <table>
    <ng-container *ngFor="let month of Object.keys(months)">
      <tr>
        <th>Ranking</th>
        <th>Listing Id</th>
        <th>Make</th>
        <th>Selling Price</th>
        <th>Mileage</th>
        <th>Total Amount of contacts</th>
      </tr>
      <tr *ngFor="let item of months[month]; let i = index;">
        <td>{{i + 1}}</td>
        <td>{{item.id}}</td>
        <td>{{item.make}}</td>
        <td>€ {{item.price}},-</td>
        <td>{{item.mileage}} KM</td>
        <td>{{item.seller_type}}</td>
      </tr>
    </ng-container>
</table>
</div>